@page
@model Un1ver5e.ru.Pages.CharGenModel
@{
	ViewData["Title"] = "Генератор";
}

<script>
window.onload = function() {
    resetStats();
}	
</script>

<div class="full-page">
<div class="main-section">
@using(Html.BeginForm(FormMethod.Post))
{
	<label for="Name">Введите имя персонажа</label><br />
	@Html.TextBox("Name")
	<br /><br />

	<label for="Race">Выберите расу</label><br />
	@Html.DropDownList("Race", Model.Races, @Model.Race ?? "---", new { onchange = "showCurrentRaceBonuses()" })
	<select id="HumanRaceBonusSelect" hidden onchange="processHumanRaceBonus()">
		<option selected disabled hidden>---</option>
		<option value="StrRace">💪</option>
		<option value="DexRace">🏃‍</option>
		<option value="ConRace">🩸</option>
		<option value="IntRace">🧠</option>
		<option value="WisRace">🦉</option>
		<option value="ChaRace">👄</option>
	</select>
	<br /><br />

	<label for="Class">Выберите класс</label><br />
	@Html.DropDownList("Class", Model.Classes, @Model.Class ?? "---", new { onchange = "showCurrentClassPreferredStats()" })
	<br /><br />

	<label for="Gender">Выберите пол персонажа</label><br />
	@Html.DropDownList("Gender", Model.Genders, @Model.Gender ?? "---")
	<br /><br />

	<label for="Alignment">Выберите мировоззрение</label><br />
	@Html.DropDownList("Alignment", Model.Alignments, @Model.Alignment ?? "---")
	<br /><br />

	<label for="StatsTable">Распределите характеристики :</label><br />
	<button onclick="resetStats()" type="button">Новые характеристики 🔁</button> 
	<span style="color:gray" id="Stats"></span>
	<table border="0" id="StatsTable">
		<tr>
			<td>💪</td>
			<td>
				<select id="Str" name="Str" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="StrLike"></div></td>
			<td><div id="StrRace"></div></td>
			<td><div class="stats-info--bold" id="StrTotal"></div></td>
			<td><div id="StrMod"></div></td>
		</tr>
		<tr>
			<td>🏃‍</td>
			<td>
				<select id="Dex" name="Dex" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="DexLike"></div></td>
			<td><div id="DexRace"></div></td>
			<td><div class="stats-info--bold" id="DexTotal"></div></td>
			<td><div id="DexMod"></div></td>
		</tr>
		<tr>
			<td>🩸</td>
			<td>
				<select id="Con" name="Con" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="ConLike"></div></td>
			<td><div id="ConRace"></div></td>
			<td><div class="stats-info--bold" id="ConTotal"></div></td>
			<td><div id="ConMod"></div></td>
		</tr>
		<tr>
			<td>🧠</td>
			<td>
				<select id="Int" name="Int" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="IntLike"></div></td>
			<td><div id="IntRace"></div></td>
			<td><div class="stats-info--bold" id="IntTotal"></div></td>
			<td><div id="IntMod"></div></td>
		</tr>
		<tr>
			<td>🦉</td>
			<td>
				<select id="Wis" name="Wis" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="WisLike"></div></td>
			<td><div id="WisRace"></div></td>
			<td><div class="stats-info--bold" id="WisTotal"></div></td>
			<td><div id="WisMod"></div></td>
		</tr>
		<tr>
			<td>👄</td>
			<td>
				<select id="Cha" name="Cha" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="ChaLike"></div></td>
			<td><div id="ChaRace"></div></td>
			<td><div class="stats-info--bold" id="ChaTotal"></div></td>
			<td><div id="ChaMod"></div></td>
		</tr>

	</table>

	<div class="main-section__check">
		<input id="FormSubmit" type="submit" name="action" value="✅ Сохранить" disabled>
		<div id="UniqueWarn"><details><summary>⚠</summary><span style="color: red">Значения статов повторяются!</span></details></div>
	</div>
}
</div>

<div class="additional-section">
	<details>
		<summary>Расы</summary>
		<ul class="stats-info">
			<li>🧑 <b>Человек:</b> Эта раса самая распространенная в Делоремоне. Благодаря силе и воле их предки завоевали большинство земель, а сами они могут проявить себя в любых делах.</li>
			<li>🧝 <b>Эльф:</b> Раса эльфийских долгожителей отличается остротой ума и ловкостью движений. Они близки к природе и часто живут в лесах, и не очень любят соседство других рас.</li>
			<li>🧔 <b>Дварф:</b> Живущие в горах дварфы - известные умельцы и борцы с монстрами. Их низкий рост и неказистая внешность возмещаются мудростью и мастерством.</li>
			<li>🦊 <b>Кицуне:</b>Эта раса - трансмутант людей и вымерших лисофов с островов Марувии. Они живут недолго и почти всю жизнь остаются молодыми, стремительно старясь за год-два до смерти.</li>
			<li>♉ <b>Минас:</b> Ходячие горы мышц Минасы, близкие родственники минотавров, отличаются неожиданным миролюбием, так как их раса была выведена для работы в поле, не войн.</li>
			<li>🦎 <b>Серпент:</b> Серпенты были выведены как стражи границ, приспособленные для жизни в суровых условиях болот и способные сражаться с монстрами</li>
		</ul>
	</details>

	<details>
		<summary>Классы</summary>
		<ul class="stats-info">
			<li><b>🎓Ученый</b> 
			Их сфера возможностей зависит от изучаемых областей: вивисекторы ловко препарируют друзей и врагов, 
			инженеры создают хитрые механизмы, химики готовят мутагены и бомбы, зачарователи усиливают оружие и броню и не только. 
			Хороший алхимик объединяет интерес к нескольким наукам, комбинируя их и получая лучшее от каждой.
            </li> 
			<li><b>🪕Бард</b> 
			Сочиняя и играя музыку барды поднимают боевой дух своего отряда, помогают им сопротивляться ядам,
			лучше двигаться, сражаться и многое другое. Однако даже когда барды убирают свой музыкальный инструмент,
			у них все еще есть их связи, знакомства, опыт, многочисленные навыки и верный клинок.
            </li>
			<li><b>😡Варвар</b>
			Грозные варвары не стесняются своих эмоций, они используют свою дикую природную ярость на полную мощь,
			превращаясь на поле боя в машины для убийств. Вся суть варваров - безрассудно бросаться в бой, устраивая
			настоящую кровавую баню. Вне боя варвар вполне может быть мирным, применяя ярость только когда она нужна.
			</li>
            <li><b>⚔️Воин</b>
			Воины делают битвы и сражения делом своей жизни, всю жизнь тренируясь владению с оружием и наращивая мастерство.
			Большинство воинов отлично владеют любым оружием, однако фокусируются на владении одним типом. Воином могут считаться
			как стрелок, стремящийся овладеть своим арбалетом в совершенстве, так и облаченный в латы воитель.
			</li>
            <li><b>📚Волшебник</b>
			Волшебники подходят к магии с практической точки зрения. Они изучают закономерности стихии духа и формулируют
			их в виде заклинаний, невообразимо сложных и длинных способов осознать магию. Волшебники вынуждены каждое утро
			тратить время на "запоминание" заклинаний, чтобы использовать их в течение дня.
			</li>
            <li><b>🍀Друид</b>
			Друиды - проводники энергии дикой природы. Так как природа не является чем-то единым, ее последователи не
			похожи на прочих чувствительных к духу. В зависимости от своей принадлежности, друиду подчиняются разные аспекты
			природы, начиная от грибов, плесени и насекомых и заканчивая огромными зверями и вековыми деревьями.  
			</li>
            <li><b>📜Жрец</b>
			Многие в Аркленсе молятся божествам. Но далеко не все подходят к этому делу с такой же отдачей как жрецы,
			часто полностью посвящающие свои жизни служению своему покровителю. Их мировоззрение должно отличаться не более
			чем на 1 шаг и каждое утро жрецы должны потратить час на чтение молитв чтобы божество одарило их своей силой.
			</li>
            <li><b>☄️Кинетик</b>
			Тела кинетиков это одна большая аномалия. Их души неизвестным образом открывают небольшие порталы в измерения
			стихий. Это значит, что стихии постоянно ищут выхода наружу, а значит кинетик всегда ходит по лезвию ножа: если
			если разлом будет слишком сильным то уничтожит кинетика, а если не давать выхода энергии то страдальца разорвет изнутри.
			</li>
            <li><b>🧘Монах</b>
			Монахи ценят дисциплину и считают ее главным качеством человека. Их тела становятся храмами совершенства, в
			монахи не считают оружие необходимым, предпочитая идеально выверенные удары руками и ногами. Такая подготовка
			и стойкость воли монахов дает им уникальную способность - прямое управление духом, сами они называют его Ци.
			</li>
            <li><b>🛡Паладин</b>
			Только наиболее самоотверженные из жрецов становятся паладинами. Паладин - лицо своего божества, его рука
			в плане материи, они дают клятву своему покровителю, клятву олицетворять один из его постулатов, его проявлений.
			Мировоззрение крестоносца должно полностью совпадать с оным у божества.
			</li>
            <li><b>🗡Плут</b>
			Плуты - изворотливые лиходеи, привычные прятаться в тенях и наносить удары в спину. Они наносят
			большой урон, нападая на беззащитную цель, однако их сила не только в атаках исподтишка. Плуты также мастера
			на все руки, в их арсенале находятся разнообразные навыки и хитрости.
			</li>
            <li><b>🦅Рейнджер</b>
			Мастера выживания и защитники земель рейнджеры хорошо знают местность на которой живут и лучше сражаются 
			именно на ней. Они не прощают зла, если ты перешел дорогу рейнджеру то становишься его заклятым врагом надолго.
			Также рейнджеры близки к природе, часто их можно увидеть с верным псом или залечивающими свои раны лесными травами.
			</li>
		</ul>
	</details>

	<details>
		<summary>Мировоззрение</summary>
		У некоторых классов есть ограничения на мировоззрение, пока что это не учтено, спросите лично.
		<ul class="stats-info">
			<li><b>[L]</b> Законные персонажи чтят традиции и для них в первую очередь важен порядок.</li>
            <li><b>[C]</b> Хаотичные персонажи ценят свободу и могут принимать необычные решения.</li>
            <li><b>[G]</b> Добрые персонажи - отличные товарищи, готовые на многое ради других.</li>
            <li><b>[E]</b> Злые персонажи в первую очередь думают о себе и склонны к самолюбию.</li>
		</ul>
	</details>

	<details>
		<summary>Описания характеристик</summary>
		<ul class="stats-info">
			<li>💪 <b>Сила:</b> Мощь рук, ног и других мышц тела. Отвечает за урон в ближнем бою, плавание и лазание.</li>
			<li>🏃‍ <b>Ловкость:</b> Подвижность и мелкая моторика. Отвечает за стрельбу, увороты, акробатику и скрытность.</li>
			<li>🩸 <b>Выносливость:</b> Крепость тела и устойчивость ко вреду. Отвечает за здоровье и сопротивление эффектам.</li>
			<li>🧠 <b>Интеллект:</b> Знания и смекалка. Отвечает за все типы наук, количество навыков и концентрацию.</li>
			<li>🦉 <b>Мудрость:</b> Жизненный опыт и чуткость. Отвечает за внимательность, силу воли и бытовые умения.</li>
			<li>👄 <b>Харизма:</b> Внутренняя и внешняя красота. Отвечает за привлекательность и умение договариваться.</li>
		</ul>
	</details>

	<details>
		<summary>Подсказка</summary>
		<ul class="stats-info">
			<li>👍 означает что вашему классу эта характеристика приоритетна.</li>
		</ul>
	</details>
</div>
</div>