@page
@model Un1ver5e.ru.Pages.CharGenModel
@{
	ViewData["Title"] = "Генератор";
}

<script>
window.onload = function() {
    resetStats();
}	
</script>

<div>
@using(Html.BeginForm(FormMethod.Post))
{
	<label for="Name">Введите имя персонажа</label><br />
	@Html.TextBox("Name")
	<br /><br />

	<label for="Race">Выберите расу</label><br />
	@Html.DropDownList("Race", Model.Races, @Model.Race ?? "---", new { onchange = "showCurrentRaceBonuses()" })
	<select id="HumanRaceBonusSelect" hidden onchange="processHumanRaceBonus()">
		<option value="StrRace">💪</option>
		<option value="DexRace">🏃‍</option>
		<option value="ConRace">🩸</option>
		<option value="IntRace">🧠</option>
		<option value="WisRace">🦉</option>
		<option value="ChaRace">👄</option>
	</select>
	<br /><br />

	<label for="Class">Выберите класс</label><br />
	@Html.DropDownList("Class", Model.Classes, @Model.Class ?? "---", new { onchange = "showCurrentClassPreferredStats()" })
	<br /><br />

	<label for="Gender">Выберите пол персонажа</label><br />
	@Html.DropDownList("Gender", Model.Genders, @Model.Gender ?? "---")
	<br /><br />

	<label for="Alignment">Выберите мировоззрение</label><br />
	@Html.DropDownList("Alignment", Model.Alignments, @Model.Alignment ?? "---")
	<br /><br />

	<label for="StatsTable">Распределите характеристики :</label><br />
	<details>
		<summary>Описания</summary>
		💪 Сила. Мощь рук, ног и других мышц тела. Отвечает за урон в ближнем бою, плавание и лазание.<br>
		🏃‍ Ловкость. Подвижность и мелкая моторика. Отвечает за стрельбу, увороты, акробатику и скрытность.<br>
		🩸 Выносливость. Крепость тела и устойчивость ко вреду. Отвечает за здоровье и сопротивление эффектам.<br>
		🧠 Интеллект. Знания и смекалка. Отвечает за все типы наук, количество навыков и концентрацию.<br>
		🦉 Мудрость. Жизненный опыт и чуткость. Отвечает за внимательность, силу воли и бытовые умения.<br>
		👄 Харизма. Внутренняя и внешняя красота. Отвечает за привлекательность и умение договариваться.<br>
	</details>
	<button onclick="resetStats()" type="button">Новые характеристики 🔁</button> 
	<span style="color:gray" id="Stats"></span>
	<table border="0" id="StatsTable">
		<tr>
			<td>💪</td>
			<td>
				<select id="Str" name="Str" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="StrLike"></div></td>
			<td><div id="StrRace"></div></td>
			<td></td>
		</tr>
		<tr>
			<td>🏃‍</td>
			<td>
				<select id="Dex" name="Dex" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="DexLike"></div></td>
			<td><div id="DexRace"></div></td>
			<td></td>
		</tr>
		<tr>
			<td>🩸</td>
			<td>
				<select id="Con" name="Con" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="ConLike"></div></td>
			<td><div id="ConRace"></div></td>
			<td></td>
		</tr>
		<tr>
			<td>🧠</td>
			<td>
				<select id="Int" name="Int" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="IntLike"></div></td>
			<td><div id="IntRace"></div></td>
			<td></td>
		</tr>
		<tr>
			<td>🦉</td>
			<td>
				<select id="Wis" name="Wis" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="WisLike"></div></td>
			<td><div id="WisRace"></div></td>
			<td></td>
		</tr>
		<tr>
			<td>👄</td>
			<td>
				<select id="Cha" name="Cha" onchange="checkStatsChoiceValid()">
					<option selected disabled hidden value="---">---</option>
				</select>
			</td>
			<td><div id="ChaLike"></div></td>
			<td><div id="ChaRace"></div></td>
			<td></td>
		</tr>

	</table>

	<input id="FormSubmit" type="submit" name="action" value="✅ Сохранить" disabled>
	<span id="UniqueWarn" style="color:red">Значения статов повторяются!</span>
}
</div>
