@page
@model Un1ver5e.ru.Pages.CharGenModel
@{
	ViewData["Title"] = "Генератор";
}

<script type="text/javascript">
var stats = [15, 14, 13, 12, 10, 8];

function recalculateStats() {
    stats = getFineStats();
    alert(stats);
}
</script>

@using(Html.BeginForm(FormMethod.Post))
{
	<label for="Name">Введите имя персонажа</label><br />
	@Html.TextBox("Name")<br />

	<label for="Race">Выберите расу</label><br />
	@Html.DropDownList("Race", Model.Races, @Model.Race ?? "Раса")<br />

	<label for="Class">Выберите класс</label><br />
	@Html.DropDownList("Class", Model.Classes, @Model.Class ?? "Класс", new { onchange = "showBestStats()" })<br />

	<label for="Gender">Выберите пол персонажа</label><br />
	@Html.DropDownList("Gender", Model.Genders, @Model.Gender ?? "Пол")<br />

	<label for="Alignment">Выберите мировоззрение</label><br />
	@Html.DropDownList("Alignment", Model.Alignments, @Model.Alignment ?? "Мировоззрение")<br />

	<label for="StatsTable">Распределите характеристики : <script>stats</script></label>
	<button onclick="recalculateStats()" type="button">🔁</button>
	<table border="0" id="StatsTable">
		<tr>
			<td>💪</td>
			<td>@Html.DropDownList("Strength", Enumerable.Empty<SelectListItem>() ,@Model.Strength?.ToString() ?? "СИЛ")</td>
			<td><div id="StrLike"></div></td>
		</tr>
		<tr>
			<td>🏃‍</td>
			<td>@Html.DropDownList("Dexterity", Enumerable.Empty<SelectListItem>(), @Model.Dexterity?.ToString() ?? "ЛВК")</td>
			<td><div id="DexLike"></div></td>
		</tr>
		<tr>
			<td>🩸</td>
			<td>@Html.DropDownList("Constitution", Enumerable.Empty<SelectListItem>(), @Model.Constitution?.ToString() ?? "ВЫН")</td>
			<td><div id="ConLike"></div></td>
		</tr>
		<tr>
			<td>🧠</td>
			<td>@Html.DropDownList("Intelligence", Enumerable.Empty<SelectListItem>(), @Model.Intelligence?.ToString() ?? "ИНТ")</td>
			<td><div id="IntLike"></div></td>
		</tr>
		<tr>
			<td>🦉</td>
			<td>@Html.DropDownList("Wisdom", Enumerable.Empty<SelectListItem>(), @Model.Wisdom?.ToString() ?? "МДР")</td>
			<td><div id="WisLike"></div></td>
		</tr>
		<tr>
			<td>👄</td>
			<td>@Html.DropDownList("Charisma", Enumerable.Empty<SelectListItem>(), @Model.Charisma?.ToString() ?? "ХАР")</td>
			<td><div id="ChaLike"></div></td>
		</tr>

	</table>

	<input type="submit" name="action" value="👀">
	<input type="submit" name="action" value="💾">
	
	<p style="color:gray">@Guid.NewGuid()</p>
	<p style="color:gray" id="Stats"></p>
}
