@page
@model Un1ver5e.ru.Pages.CharGenModel
@{
}

@using(Html.BeginForm(FormMethod.Post))
{
	@Model.Name @Model.Race @Model.Class @Model.Gender @Model.Alignment

	<p>Введите имя персонажа</p>
	@Html.TextBox("Name")

	<p>Выберите расу</p>
	@Html.DropDownList("Race", Model.Races, @Model.Race ?? "Раса")

	<p>Выберите класс</p>
	@Html.DropDownList("Class", Model.Classes, @Model.Class ?? "Класс", new { onchange = "showBestStats()" })

	<p>Выберите пол персонажа</p>
	@Html.DropDownList("Gender", Model.Genders, @Model.Gender ?? "Пол")

	<p>Выберите мировоззрение</p>
	@Html.DropDownList("Alignment", Model.Alignments, @Model.Alignment ?? "Мировоззрение")

	<p>Распределите характеристики</p>
	<table border="0">
		<tr>
			<td>@Html.DisplayName("💪")</td>
			<td>@Html.DropDownList("Strength", @Model.Stats, @Model.Strength?.ToString() ?? "СИЛ")</td>
			<td><div id="StrLike"></div></td>
		</tr>
		<tr>
			<td>@Html.DisplayName("🏃‍")</td>
			<td>@Html.DropDownList("Dexterity", @Model.Stats, @Model.Dexterity?.ToString() ?? "ЛВК")</td>
			<td><div id="DexLike"></div></td>
		</tr>
		<tr>
			<td>@Html.DisplayName("🩸")</td>
			<td>@Html.DropDownList("Constitution", @Model.Stats, @Model.Constitution?.ToString() ?? "ВЫН")</td>
			<td><div id="ConLike"></div></td>
		</tr>
		<tr>
			<td>@Html.DisplayName("🧠")</td>
			<td>@Html.DropDownList("Intelligence", @Model.Stats, @Model.Intelligence?.ToString() ?? "ИНТ")</td>
			<td><div id="IntLike"></div></td>
		</tr>
		<tr>
			<td>@Html.DisplayName("🦉")</td>
			<td>@Html.DropDownList("Wisdom", @Model.Stats, @Model.Wisdom?.ToString() ?? "МДР")</td>
			<td><div id="WisLike"></div></td>
		</tr>
		<tr>
			<td>@Html.DisplayName("👄")</td>
			<td>@Html.DropDownList("Charisma", @Model.Stats, @Model.Charisma?.ToString() ?? "ХАР")</td>
			<td><div id="ChaLike"></div></td>
		</tr>

	</table>

	<input type="submit" name="action" value="🔄">
	<input type="submit" name="action" value="Сохранить">
	<input type="submit" name="action" value="Посмотреть">
	
	<p style="color:gray">@Model.SessionGuid</p>
	<p style="color:gray">@string.Join(' ', Model.Stats.Select(i => i.Text))</p>
}
